.profile__button-edit {
  border: 1px solid #FFFFFF;
  background: transparent;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  transition: opacity .25s linear;
}

.profile__button-edit:hover {
  opacity: 0.6;
}
