.card__picture {
  object-fit: cover;
  object-position: 50% 50%;

  width: 282px;
  height: 282px;
  display: block;
  cursor: pointer;
  transition: opacity .25s linear;
}

.card__picture:hover {
  opacity: .75;
}



