.profile__title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
}

@media screen and (max-width: 880px) {
  .profile__title {
    margin-left: 25px;
    justify-content: center;
  }
}
