.profile__title {
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  justify-content: start;
}

@media screen and (max-width: 880px) {
  .profile__title {
    margin-left: 25px;
    justify-content: center;
  }
}
