.footer {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
