.logo {
  width: 100%;
  max-width: 142px;
  height: 33px;
  background-image: url(../../images/logo_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .25s linear;
}

.logo:hover {
  opacity: .7;
}

@media screen and (max-width: 1023px) {
  .logo {
    margin-left: 27px;
    max-width: 104px;
    height: 25px;
  }
}
