.form__submit {
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
  min-height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
  outline: none;
  transition: opacity .25s linear;
  cursor: pointer;
}

.form__submit:hover {
  opacity: 0.8;
}

.form__submit:disabled, .form__submit:disabled:hover {
  background-color: #ffffff;
  color: #000000;
  opacity: 0.2;
  border: 1px solid #000000;
  cursor: default;
}

@media screen and (max-width: 500px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
    min-height: 48px;
  }
}
