.card__like {
  display: block;
  width: 22px;
  height: 19px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  transition: opacity .25s linear;
  cursor: pointer;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  outline: none;
}

.card__like:hover {
  opacity: .6;
}

.card__like.card__like_active{
  background-image: url(../../../images/like_active.svg);
}
