.profile__about-me {
  color: #ffffff;
  padding: 10px 0 0;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .profile__about-me {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 7px;
  }
}
